.diva-outer {
    height: 100%;
}

/* for computer */
div.outer {
	 height: calc(100vh - 80px);
	 padding: 0;
	 margin: 0;
	 min-height: 500px
}

.sidebar {
    height: 90vh; overflow-y: auto;
}

@media all and (max-width:768px){
/* for mobile */
div.outer  {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}
}